html {
    scroll-behavior: smooth;
}

body {
    background-color: #F8F8FF;
    position: relative;
    font-family: 'Abel', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: right;
    align-items: space-around;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    min-height: 5vh;
    z-index: 100;
}

.header-link {
    padding: 1rem;
    color: #0000FF;
    font-size: 2em;
}

.header-link:hover,
.section-content--about-text > a,
.section-content--work-1--title:hover,
.section-content--work-2--title:hover {
    color: #72c1c4;
}

.section-content {
    width: 90%;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.section-content--about-picture,
.section-content--work-1--content-picture,
.section-content--work-2--content-picture {
    padding: 1rem;
}

.section-content--about-picture > img,
.section-content--work-1--content-picture > a > img,
.section-content--work-2--content-picture > a > img {
   max-width: 60vw;
   max-height: 60vh;
   object-fit: cover;
   border-radius: 50%;
   border: 2px solid #0000FF;
}

.section-content--about-picture > img:hover,
.section-content--work-1--content-picture > a >img:hover,
.section-content--work-2--content-picture > a > img:hover {
    transition: filter .5s ease-in-out;
    filter: grayscale(79%) brightness(78%);
    -webkit-filter: grayscale(79%) brightness(78%);
    -moz-filter: grayscale(79%) brightness(78%);
}

.section-content--about-text,
.section-content--work-1--content-text,
.section-content--work-2--content-text {
    color: #0000FF;
    font-size: 1.5em;
}

.hidden {
    visibility: hidden;
}

.section-content--work-1,
.section-content--work-2 {
    width: 90%;
    margin: auto;
}

.section-content--work-1--content,
.section-content--work-2--content {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.section-content--work-1--title,
.section-content--work-2--title {
    color: #0000FF;
    padding: 1rem 0 1rem 0;
    font-size: 2em;
}



/**ANIMATIONS */

  .tracking-in-contract {
    -webkit-animation: text-focus-in .3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-focus-in .3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }

  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  
  

/**MEDIA QUERIES*/
@media screen and (max-width: 480px) {
    .header {
    justify-content: center;
    }
    .section-content {
      flex-flow: column wrap;
      text-align: center;
    }
    
    .section-content--work-1--content,
    .section-content--work-2--content {
      margin: 1rem auto 1rem auto;
      min-height: /* 95vh */70vh;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .section-content--about-picture > img,
    .section-content--work-1--content-picture > a > img,
    .section-content--work-2--content-picture > a > img {
   max-width: 70vw;
   max-height: 70vh;
}
    .section-content--work-1--title,
    .section-content--work-2--title {
      color:#72c1c4;
    }
    .order {
      order: 2;
    }
  }

